body{
  background-color: #02010a;
}

#contenido{
  max-width: 900px;
  margin: auto;
}

header{
  color: white;
  background-color: #5B7989;
  border-radius: 10px 10px 0px 0px;
  font-family: 'Dancing Script', cursive;
  overflow: auto;
}



#titulo{
  text-shadow: 2px 2px #02010a;
  font-size: 2em;
  margin-left: 10px;
  text-align: center;

}

nav {
  text-align: center;
  padding: 10px;
  margin-top: 30px;

}

nav a:link, nav a:visited{
  text-decoration: none;
  color: white;
}

nav a:hover{
  text-decoration: underline;
}

img{
  box-shadow: 2px 2px #02010a;
  width: 100%;
  margin:auto;
}

#imgcen{
  background-color: #82C3A6;
  padding: 10px;
}

#imgsec{
  background-color: #D5C75F;
  border: 1px;
  padding: 10px;
}


/*media query para desktop*/
@media all and (min-width: 900px) {
  #contenido{

  }
  #titulo{
      float: left;
  }
  nav{
    float: right;
  }

  img{
    width: 100%;
  }
  #imgsec{
    display: flex;
  }
}
/*media query para movil*/
@media all and (max-width: 900px) {
  #contenido{
    width: 100%;
  }

}

footer{
  height: 50px;
  border-radius: 0px 0px 10px 10px;
  background-color: #C6D5C5;
}
