body{
  background-color: #02010a;
}

#contenido{
  max-width: 900px;
  margin: auto;
}

header{
  color: white;
  background-color: #5B7989;
  border-radius: 10px 10px 0px 0px;
  font-family: 'Dancing Script', cursive;
  overflow: auto;
  animation: slidein 1s ;
}

@-webkit-keyframes slidein {
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: -5%;
  }
  100%{
    margin-top: 0%;
  }
}


#titulo{
  text-shadow: 2px 2px #02010a;
  font-size: 2em;
  margin-left: 10px;
  text-align: center;

}

nav {
  text-align: center;
  padding: 10px;
  margin-top: 30px;

}

nav a:link, nav a:visited{
  text-decoration: none;
  color: white;
}

nav a:hover{
  text-decoration: underline;
}

img{
  box-shadow: 2px 2px #02010a;
  width: 100%;
  margin:auto;
}

#imgcen{
  background-color: #82C3A6;
  padding: 10px;
}

#imgsec {
  background-color: #D5C75F;
  border: 1px;
  padding: 10px;
}

#imgsec1 img, #imgsec2 img{
  border: 1px solid black;
}

#imgsec1 img:hover{
  transform: rotate(10deg);
  box-shadow: 2px 2px #82c3a6;
  border: 2px;
  transition: transform 1s;
}

#imgsec2 img:hover{
  transform: translate(20px,-5px);
  box-shadow: 2px 2px #82C3A6;
  border: 2px;
  transition: transform 1s ;
}

footer{
  border-radius: 0px 0px 10px 10px;
  background-color: #C6D5C5;
  overflow: auto;
  font-family: 'Dancing Script', cursive;
}
/*
#column3{
  vertical-align: middle;
}*/
#column3 img{
  box-shadow: none;
  height: 3vh;
  width: 3vh;
  transform: translate(0px,1px);
}


/*media query para desktop*/
@media all and (min-width: 900px) {
  #contenido{

  }
  #titulo{
      float: left;
  }
  nav{
    float: right;
  }

  img{
    width: 100%;
  }
  #imgsec{
    display: flex;
  }
  footer{
    display: flex;
  }

  footer div{
    width: 25%;
    padding-left: 5%;
  }
}
/*media query para movil*/
@media all and (max-width: 900px) {
  #contenido{
    width: 100%;
  }
  footer div{
    width: 100%;
    padding: 10%;
    margin: auto;
  }
}
