body{
  background-color: #02010a;
}

header{
  color: white;
  text-shadow: 2px 2px #02010a;
  background-color: #5B7989;
  border-radius: 10px 10px 0px 0px;
  font-family: 'Dancing Script', cursive;
}

nav a:link, nav a:visited{
  display: inline-block;
  text-decoration: none;
  color: white;
}

nav a:hover{
  text-decoration: underline;
}

img{
  box-shadow: 2px 2px #02010a;
}

/*media query para desktop*/
@media (min-width: 900px) {
  #contenido{
    width: 900px;
    margin: auto;
  }

  header{
    width: 100%;
    height: 100px;
  }

  header #titulo p{
    float: left;
  }

  header ul{
    float: right;
    display: flex;
  }

  header ul li{
    text-decoration: none;
    display: inline-block;
  }
}

/* media query para movil*/
@media (max-width: 899px) {
  #contenido{
    width: 100%;
    display: inline-block;
    margin: 0px;
  }

}

#imgcentral{
  background-color: #82c3a6;
  height: auto;
}

#imgcentral figure{
  text-align: center;
  margin: auto;

}

#imgcentral figure img{
  width: 90%;
  margin: 10px;
}

#imgsec{
  background-color: #d5c75f;
  border: 1px;
  display: flex;
}

#imgsec figure{
  text-align: center;
}

#imgsec figure img{
  width: 100%;
  margin: auto;
}

footer{
  height: 100px;
  background-color: #c6d5c5;
  border-radius: 0px 0px 10px 10px;
  display: flex;
}
